h1 {
    display: grid;
    font-size: 6em;
    font-weight: bolder;
    text-align: right;
}

.link {
    cursor: nw-resize;
    letter-spacing: 5px;
}

#t1 {
    text-shadow: 4px 4px 5px rgb(0, 200, 255);
    background-image: linear-gradient(rgb(255, 234, 0), rgb(31, 217, 31));
    text-transform: uppercase;
}

a[href] {
    border-radius: 15px 50px;
    background: #ed13d3;
    padding: 50px;
    width: 200px;
    height: 150px;
}